* {
box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    background: #111;
}
button{
    height:100px;
    background-color: yellow;
    border: 0;
    cursor: pointer;
}
button:active{
    opacity: 0.8;
}
.modal{
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display:flex;
    align-items: center;
    justify-content: center;
}
.modal.open {
    opacity: 1;
    z-index: 999;
}
.modal-inner {
    background-color: #181616;
    border-radius: 5px;
    border-color: aqua;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 1500px 2500px;
    text-align: center;
    width: 380px;
}
#left, #right{
    width: 100px;
    min-height: 200px;
    margin: 20px;
    border: 2px dashed #ff9797;
    float: left;
}
.modal-inner .list{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    cursor: grab;
}
.list img{
    height: 100px;
    width:100px;
    margin-right: 15px;
    margin-left: 20px;
}
#logText{
    float: left;
    color: aqua;
}
#header{
    width:screen;
    height: 100px;
    display:flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40pt;
    font-weight: 100;
    background: yellow;
}
#home_button{
    width:100px;
    height:100px;
    margin:0;
    padding:0;
    float:left;
}
#h{
    float:left;
}
#login_button{
    width:100px;
    height:100px;
    margin:0;
    padding:0;
    float:right;
}
#checkout_button{
    width:100px;
    height:100px;
    margin:0;
    padding:0;
    float:right;
}
#crontent{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40pt;
    color: rgb(0, 0, 0);
    width:screen;
    float:bottom;
    height: 400px;
    align-content: center;
    justify-content: center;
}