body{
    background-color: rgb(211, 206, 206);
}
#header{
    width:screen;
    height: 100px;
    display:flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40pt;
    font-weight: 100;
    background: yellow;
}
#home_button{
    width:100px;
    height:100px;
    margin:0;
    padding:0;
    float:left;
}
#h{
    float:left;
}
#login_button{
    width:100px;
    height:100px;
    margin:0;
    padding:0;
    float:right;
}
#checkout_button{
    width:100px;
    height:100px;
    margin:0;
    padding:0;
    float:right;
}
#page-container{
    width:screen;
}
#welcome_banner{
    width:screen;
    height: 250px;
    margin-bottom: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(144, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50pt;
    font-weight: 100;
}
h1{
    color:rgb(1, 7, 13);
}
#Product1{
    width: 300px;
    height: 400px;
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: rgb(116,5,133);
    float:left;
}
#product1thumbnail{
    width: 300px;
    height: 300px;
    padding:0;
    float:top;
    background-color: green;
}
#Product2{
    width: 300px;
    height: 400px;
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: rgb(116,5,133);
    float:left;
}
#product2thumbnail{
    width:300px;
    height:300px;
    float:top;
    background-color: green;
}
#Product3{
    width: 300px;
    height: 400px;
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: rgb(116,5,133);
    float:left;
}
#product3thumbnail{
    width:300px;
    height:300px;
    float:top;
    background-color: green;
}
#Product4{
    width: 300px;
    height: 400px;
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: rgb(116,5,133);
    float:left;
}
#product4thumbnail{
    width:300px;
    height: 300px;
    float:top;
    background-color: green;
}
#Product5{
    width: 300px;
    height: 400px;
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: rgb(116,5,133);
    float:left;
}
#product5thumbnail{
    width:300px;
    height:300px;
    float:top;
    background-color: green;
}
#Product6{
    width: 300px;
    height: 400px;
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: rgb(116,5,133);
    float:left;
}
#product6thumbnail{
    width:300px;
    height:300px;
    float:top;
    background-color: green;
}
.clicklink{
    width: 300px;
    height:400px;
    float:bottom;
    display:flex;
    align-content: center;
    justify-content: center;
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
a{
    height: 100px;
    color: black;
}
a:hover{
    color:rgb(144, 0, 0)
}
a:active{
    color:yellow
}