* {
box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background: #111;
}

button{
    background-image: linear-gradient(to right, #663399, #8853bd);
    border-radius: 20px;
    border: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    padding:10px 25px ;
}

button:active{
    opacity: 0.8;
}

.modal{
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display:flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    opacity: 1;
    z-index: 999;
}

.modal-inner {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 1500px 2500px;
    text-align: center;
    width: 380px;
}


#left, #right{
    width: 100px;
    min-height: 200px;
    margin: 20px;
    border: 2px dashed #000000;
    float: left;
}

.modal-inner .list{
    background: #e91e63;
    height: 60px;
    margin: 30px;
    color:#ff0000;
    display: flex;
    align-items: center;
    cursor: grab;
}

.list img{
    width: 10px;
    margin-right: 15px;
    margin-left: 20px;
}

#logText{
    float: left;
}

